<a href="https://colab.research.google.com/github/itachi0229/EL3/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

KAREN MACALINO

In [3]:
import pandas as pd

In [4]:

df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQ7Xta6T-hqBFfQTUMNSVdl03z74KlyecepwOK0Y4s_zv0CG6L8NrVP8tlBsnV2tI4W_cHE5NB9cduU/pub?output=csv')

In [5]:
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Remove Duplicates

In [6]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
901     True
902     True
903     True
904     True
905     True
Length: 906, dtype: bool

In [7]:
df.duplicated().sum()

15

In [8]:
df = df.drop_duplicates()
df.duplicated().sum()

0

Remove Unnecessary Columns

In [9]:
df = df.drop(columns=['Unnamed: 0', 'PassengerId', 'Name'])
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
df.nunique()

Survived      2
Pclass        3
Sex           3
Age          88
SibSp         8
Parch         7
Ticket      681
Fare        248
Cabin       147
Embarked      3
dtype: int64

In [11]:
df = df.drop(columns='Ticket')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    object
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Cabin     204 non-null    object
 8   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(4)
memory usage: 69.6+ KB

Correcting Datatypes

In [13]:
df['SibSp'] = df['SibSp'].astype(int)

ValueError: ignored

In [14]:
df['SibSp'] = df['SibSp'].replace('one', 1)
df['SibSp'] = df['SibSp'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Cabin     204 non-null    object
 8   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 69.6+ KB

In [15]:
df['Sex'].value_counts()

male      574
female    313
F           4
Name: Sex, dtype: int64

In [16]:
df['Sex'] = df['Sex'].replace('F', 'female')
df['Sex'].value_counts()

male      574
female    317
Name: Sex, dtype: int64

In [17]:
df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64