<a href="https://colab.research.google.com/github/itachi0229/EL3/blob/main/Groupby_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

KAREN MACALINO

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
import pandas as pd

In [10]:
df = pd.read_csv('https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data')

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data', header = None)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10080 entries, 0 to 10079
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10080 non-null  int64
 1   1       10080 non-null  object
 2   2       10080 non-null  object
 3   3       10080 non-null  int64
dtypes: int64(2), object(2)
memory usage: 315.1+ KB

In [14]:
df.describe().round(2)

             0         3
count  10080.0  10080.00
mean       8.0      3.81
std        1.0      6.44
min        7.0      0.00
25%        7.0      0.00
50%        8.0      0.00
75%        9.0      5.00
max        9.0     62.00

In [29]:
df.rename(columns = {'old_Flow_ID':'new_FlowID'}, inplace = True)

In [19]:
df.rename(columns = {'old_1':'new_Date'}, inplace = True)

In [20]:
df.rename(columns = {'old_2':'new_Time'}, inplace = True)

In [21]:
df.rename(columns = {'old_3':'new_Count'}, inplace = True)

In [22]:
df.describe().round(3)

             0          3
count  10080.0  10080.000
mean       8.0      3.813
std        1.0      6.436
min        7.0      0.000
25%        7.0      0.000
50%        8.0      0.000
75%        9.0      5.000
max        9.0     62.000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10080 entries, 0 to 10079
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10080 non-null  int64
 1   1       10080 non-null  object
 2   2       10080 non-null  object
 3   3       10080 non-null  int64
dtypes: int64(2), object(2)
memory usage: 315.1+ KB

In [30]:
df.head()

   0         1         2  3
0  7  07/24/05  00:00:00  0
1  9  07/24/05  00:00:00  0
2  7  07/24/05  00:30:00  1
3  9  07/24/05  00:30:00  0
4  7  07/24/05  01:00:00  0

In [32]:
df = pd.DataFrame({'Flow_ID'
                    
                   'Date'
                   'Time'
                    
                   'Count'})
 

display(df)

                      0
0  Flow_IDDateTimeCount

In [39]:
df = pd.DataFrame({'Flow_ID': ["7"],
                    
                   'Date': ["July 24 2005"]})
 

display(df)

  Flow_ID          Date
0       7  July 24 2005

In [44]:
gk = df.groupby('Flow_ID')
gk.first()

                 Date
Flow_ID
7        July 24 2005